<html>
 <head>
   <meta charset="UTF-8">
 <style>
 <link href="login_page.css">
font-family: Bree Serif; 
  background-color: white;
  padding: 10px 20px;
  margin: 20px;
  width: 500px;
  border: 5px solid black;
		 <body {background-image: url("https://spacecoastlaunches.com/wp-content/uploads/2018/01/falcon-heavy-blog.jpg");
  background-size: 2000px;
}
h1 { 
font-family: "Bree Serif";
}
p {
  font-family: "Bree Serif";
}
.quiz {
  font-family: "Bree Serif"; 
  background-color: white;
  padding: 10px 20px;
  margin: 20px;
  width: 500px;
  border: 5px solid black;
}
.quiz input {
  
}
input[type=radio] {
    margin: 10px 10px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Bree Serif";
    font-size: 12pt;
}
input[type=radio]:hover {
  box-shadow: 5px 5px 10px  #65696C;
  
  
}


input[type=submit] {
 background-color: #2471A3;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    margin-left: 1.5%;
    cursor: pointer;
    font-family: "Bree Serif";
    font-size: 12pt;
}

input[type=submit]:hover {
  box-shadow: 5px 5px 10px  #65696C;
  color: #2471A3;
  background-color: white;
  
}
	 </style>
 

 &nbsp;<link href='https://fonts.googleapis.com/css?family=Bree Serif' rel='stylesheet'><h1 style="color:white;">LAUNCH</h1> 
  <!-- Insert Your Form Below -->
   <div class="quiz" 
   form method = POST>
     <p>Email</p>
  <input font-family: "Bree Serif"; 
  background-color: white;
  padding: 10px 20px;
  margin: 20px;
  width: 500px;
  border: 5px blue 
 >      
     
     <p>Password</p>
 <input font-family: "Bree Serif"; 
  background-color: white;
  padding: 10px 20px;
  margin: 20px;
  width: 500px;
  border: 5px blue
 >
    <br>
   <br>
   </div>
   <a href="Launch_founder_profile.html"><a href="Launch_investor_profile.html"> <a href="Launch_browser_profile.html"><input type= "submit" value= "Log In"></a>
